/*
 * Copyright (C) 2015 MdJ Electronics - http://www.mdejong.de 
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

&servo-controller-eeprom {
	
	i2c-bus = "/dev/i2c1";
	slave-address = <0x50>;
	size = <0x10000>; 	/* 64kBytes */
	name = "24AA512";
};

&servo-controller@1 {
	
	i2c-bus = "/dev/i2c1";
	slave-address = <0x42>;
	oe-gpio-pin = <&gpio1 29 GPIO_ACTIVE_LOW>;
	prescaler = <121>;
	mode2 = <0x04>;
	update-mode = <0>;
}

&servo-controller@2 {
	
	i2c-bus = "/dev/i2c1";
	slave-address = <0x43>;
	oe-gpio-pin = <&gpio1 29 GPIO_ACTIVE_LOW>;
	prescaler = <121>;
	mode2 = <0x04>;
	update-mode = <0>;
}

&servos {
	servo@1{
		controller = <1>;
		period = <0x100>;
		min-pulse = <52>;
		neutral-pulse = <104>;
		max-pulse = <156>;
	};

	servo@2{
		controller = <1>;
		period = <0x100>;
		min-pulse = <52>;
		neutral-pulse = <104>;
		max-pulse = <156>;
	};

	servo@3{
		controller = <1>;
		period = <0x100>;
		min-pulse = <52>;
		neutral-pulse = <104>;
		max-pulse = <156>;
	};

	servo@4{
		controller = <1>;
		period = <0x100>;
		min-pulse = <52>;
		neutral-pulse = <104>;
		max-pulse = <156>;
	};

	servo@5{
		controller = <1>;
		period = <0x100>;
		min-pulse = <52>;
		neutral-pulse = <104>;
		max-pulse = <156>;
	};

	servo@6{
		controller = <1>;
		period = <0x100>;
		min-pulse = <52>;
		neutral-pulse = <104>;
		max-pulse = <156>;
	};

	servo@7{
		controller = <1>;
		period = <0x100>;
		min-pulse = <52>;
		neutral-pulse = <104>;
		max-pulse = <156>;
	};

	servo@8{
		controller = <1>;
		period = <0x100>;
		min-pulse = <52>;
		neutral-pulse = <104>;
		max-pulse = <156>;
	};

	servo@9{
		controller = <1>;
		period = <0x100>;
		min-pulse = <52>;
		neutral-pulse = <104>;
		max-pulse = <156>;
	};

	servo@10{
		controller = <1>;
		period = <0x100>;
		min-pulse = <52>;
		neutral-pulse = <104>;
		max-pulse = <156>;
	};

	servo@11{
		controller = <1>;
		period = <0x100>;
		min-pulse = <52>;
		neutral-pulse = <104>;
		max-pulse = <156>;
	};

	servo@12{
		controller = <1>;
		period = <0x100>;
		min-pulse = <52>;
		neutral-pulse = <104>;
		max-pulse = <156>;
	};

	servo@13{
		controller = <1>;
		period = <0x100>;
		min-pulse = <52>;
		neutral-pulse = <104>;
		max-pulse = <156>;
	};

	servo@14{
		controller = <1>;
		period = <0x100>;
		min-pulse = <52>;
		neutral-pulse = <104>;
		max-pulse = <156>;
	};

	servo@15{
		controller = <1>;
		period = <0x100>;
		min-pulse = <52>;
		neutral-pulse = <104>;
		max-pulse = <156>;
	};

	servo@16{
		controller = <1>;
		period = <0x100>;
		min-pulse = <52>;
		neutral-pulse = <104>;
		max-pulse = <156>;
	};
};
